<a href="https://colab.research.google.com/github/NagulapalliSudarshan/MachineLearning/blob/main/learning/numpy_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**https://drive.google.com/drive/folders/1fxMMr5ucYaMVn0SZNFnEkukEy_3WEqHa**

#NUMPY

In [ ]:
import numpy as np

In [ ]:
arr1 = np.array([1,2,3,4,5],dtype = np.int8)
print(arr1)
print(arr1.dtype)
print(arr1.ndim)
print(arr1.shape)
print(arr1.size)

In [ ]:
arr2 = np.array([[1,2,3],[4,5,6],[7,8,9]],dtype = np.int8)
print(arr2)
print(arr2.dtype)
print(arr2.ndim)
print(arr2.shape)
print(arr2.size)
print(arr2[1][1])

In [ ]:
# conversion
arr_dict = np.array({1,2,3,4})
print(arr_dict)
print(arr_dict.dtype)
print(arr_dict.ndim)
print(arr_dict.shape)
print(arr_dict.size)

In [ ]:
#numpy inbuilt matrices
print(np.zeros((3,3)))
print(np.ones((2,2)))
print(np.identity(4))

In [ ]:
print(np.arange(10))
print(np.arange(1,10))
print(np.arange(100,10,-1))

In [ ]:
print(np.linspace(1,100,4))
print(np.empty((4,6)))

In [ ]:
arr3 = np.arange(10)
print(arr3)
print(arr3.reshape(5,2))
print(arr3.reshape(2,5))
print(arr3)
arr3 = arr3.reshape(5,2)
print(arr3)
print(arr3.ravel())
arr3 = arr3.ravel()
print(arr3)

In [ ]:
# access
arr4 = np.array([1,2,3,4,5,6,7,8])
print(arr4)
print(arr4.sum())
print(sum(arr4))

arr5 = np.array([[1,2,3],[4,5,6],[6,7,8]])
print(arr5)
print(arr5.sum(axis=0))         # column sum
print(arr5.sum(axis=1))         # row sum
print(arr5.T)

#PANDAS

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dict1 ={
    'names' : ['A','B','C','D'],
    'marks' : [85,91,83,98],
    'city' : ['X','Y','Z','W']
}
print(dict1)
df = pd.DataFrame(dict1)
print(df)
print(df['names'])

In [ ]:
# to csv
df.to_csv('file1.csv')
df.to_csv('file2.csv',index = False)

In [ ]:
df.head(2)
df.tail(2)
df.describe() # gives a statiscal analysis for a column which has numerical values

In [ ]:
df['marks']
df['names']
df['names'][1]
df['names'][1] = 'F'
df['names'][1]
df['names']

In [ ]:
#changing the index
df.index
df.index = ['first','second','third','fourth']
df.index
df

In [ ]:
df['names'].dtype
type(df['names'])

In [ ]:
#Series
ser = pd.Series(np.random.rand(34))
# print(ser)
new_df = pd.DataFrame(np.random.rand(100,5))
print(new_df)
new_df.columns=["A","B","C","D","E"]
print(new_df)
new_df.dtypes
print(new_df.T)  # transpose

In [ ]:
# copy and view
new_df2 = new_df
print(new_df2)
new_df2['A'][0]= 0.344312 #[col][row]
print(new_df2)
print(new_df)

In [ ]:
print(new_df2['A'][0])    # [col][row]
print(new_df2.loc[0,'A']) # [row,col]
print(new_df2.iloc[0,0])   # [index,index]

0.344312
0.344312
0.344312

In [ ]:
new_df2.drop(0,axis=0)
new_df2.drop('A',axis=1)
new_df2.drop(['A','B','E'],axis=1)
# new_df2.drop(99,axis=0,inplace=True)
print(new_df2)

           A         B         C         D         E
0   0.344312  0.545145  0.833166  0.021655  0.599500
1   0.115120  0.928047  0.688733  0.373545  0.563956
2   0.783511  0.279994  0.576688  0.216198  0.375601
3   0.388608  0.885304  0.705474  0.245266  0.014064
4   0.584994  0.585470  0.526937  0.080955  0.692129
..       ...       ...       ...       ...       ...
94  0.888096  0.783694  0.699484  0.662099  0.541605
95  0.911213  0.614908  0.664033  0.911096  0.351105
96  0.030000  0.880171  0.159224  0.865461  0.146894
97  0.257865  0.166043  0.900431  0.524149  0.394462
98  0.890941  0.127581  0.110681  0.671457  0.890679

[99 rows x 5 columns]